@charset "UTF-8";
/*  ==========================================================================
    LISTA DE ICONES
    ========================================================================== */
    .st-lista-icones{
        list-style: none;
        width:100%;
        li{
            display: inline-block;
            padding: 0 em(8);
        }
    }

    .flaticon-email:before { content: "\e000"; }
    .flaticon-facebook:before { content: "\e001"; }
    .flaticon-google:before { content: "\e002"; }
    .flaticon-telefone:before { content: "\e003"; }
    .flaticon-twitter:before {  content: "\e004"; }
    
    /*  breakpoint tablet
        ========================================================================== */
    @media screen and (min-width:$tablet){
        
    }
    /*  breakpoint desktop
        ========================================================================== */
     @media screen and (min-width$desktop){

    }

    
/*  ==========================================================================
    BOTÕES
    ========================================================================== */
    /*  Utilizar em tags: <a>, <button>, <input>
        ========================================================================== */
    .st-btn{
        transition: all 0.2s;
        border: em(2) solid #ccc;
        padding: em(12) em(14);
        border-radius:em(4);
        background-color:#fff;
        display: inline-block;
        font-size: em(14);
        line-height:em(14);
        text-decoration:none;
        text-align: center;
        color:#333;
        font-weight:normal;
    }
    .st-btn-primario{
        background:$cor-primaria;
    }
/*  ==========================================================================
    TITULOS
    ========================================================================== */
/*  ==========================================================================
    SUBTITULOS
    ========================================================================== */
/*  ==========================================================================
    SETAS
    ========================================================================== */
/*  ==========================================================================
    LINHA DIVISÓRIA
    ========================================================================== */