@charset "UTF-8";
/*  ==========================================================================
    LISTA DE ICONES
    ========================================================================== */
    .lista-icones{
        list-style: none;
        width:100%;
        li{
            display: inline-block;
            padding: 0 em(8);
        }
    }

    .flaticon-email:before { content: "\e000"; }
    .flaticon-facebook:before { content: "\e001"; }
    .flaticon-google:before { content: "\e002"; }
    .flaticon-telefone:before { content: "\e003"; }
    .flaticon-twitter:before {  content: "\e004"; }
    
    /*  breakpoint tablet
        ========================================================================== */
    @media screen and (min-width:$tablet){
        
    }
    /*  breakpoint desktop
        ========================================================================== */
     @media screen and (min-width$desktop){

    }
    
    /* LOGOTIPO */
    .logo{
        max-width: 100%;
    }
/*  ==========================================================================
    BOTÕES
    ========================================================================== */

/*  ==========================================================================
    TITULOS
    ========================================================================== */
/*  ==========================================================================
    SUBTITULOS
    ========================================================================== */
/*  ==========================================================================
    SETAS
    ========================================================================== */
/*  ==========================================================================
    LINHA DIVISÓRIA
    ========================================================================== */