/*  ==========================================================================
    1. ESTILO BASE
    ========================================================================== */
/*

 * Ordem de declaração
    // Posicionamento
    // Box model
    // Tipografia
    // Visual
 */

    /*  1.1 PALETA DE CORES
        ========================================================================== */
        $cor-primaria:#787878;
        $cor-secundaria:#9AA5AB;
        $cor-terciaria:#B1BDC5;
        
    
    /*  1.2 TIPOGRAFIA
        ========================================================================== */
		@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
        $base-font-family: 'Open Sans', sans-serif;
        $base-font-size:14; /* valor em px */
        $base-font-color:$cor-primaria;
        $base-line-height:20;
				
				
    /*  1.2.1 COR DE TAG INLINE
        ========================================================================== */
        $cor-de-link:$cor-primaria;
