/*  =============================== ===========================================
    1. ESTILO BASE
    ========================================================================== */
/*

 * Ordem de declaração
    // Posicionamento
    // Box model
    // Tipografia
    // Visual
 */

    /*  1.1 PALETA DE CORES
        ========================================================================== */
        $cor-primaria:#787878;
        $cor-secundaria:#9AA5AB;
        $cor-terciaria:#B1BDC5;
        
    
    /*  1.2 TIPOGRAFIA
        ========================================================================== */
		@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
        $base-font-family: 'Open Sans', sans-serif;
        $base-font-size:14; /* valor em px */
        $base-font-color:$cor-primaria;
        $base-line-height:20;
				
				
    /*  1.2.1 COR DE TAG INLINE
        ========================================================================== */
        $cor-de-link:$cor-primaria;

    /*  1.2.2 ICON FONT (FONTES EM SVG)
        ========================================================================== */
        @font-face{
            font-family: "Flaticon";
            src: url("../fonts/icones/flaticon.eot");
            src: url("../fonts/icones/flaticon.eot#iefix") format("embedded-opentype"),
            url("../fonts/icones/flaticon.woff") format("woff"),
            url("../fonts/icones/flaticon.ttf") format("truetype"),
            url("../fonts/icones/flaticon.svg") format("svg");
            font-weight: normal;
            font-style: normal;
        }

        // Atribuindo a fonta para classes
        [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
        [class^="flaticon-"]:after, [class*=" flaticon-"]:after{
            font-family: Flaticon;
        }
