@charset "UTF-8";
/*  ==========================================================================
		LINKS
		========================================================================== */
		a{
			text-decoration: none;
			color:$cor-de-link;
			font-weight: bold;

			&:hover{
				color:$cor-secundaria;
			}
		}
/*  ==========================================================================
		PARAGRAFOS
		========================================================================== */
		p{
				font:{
						family: $base-font-family;
						size: em($base-font-size);
						color:$base-font-color;
				}
						line-height: em(20);
		}
/*  ==========================================================================
		HEADINGS (H1 AO H6)
		========================================================================== */
		%headigs{
				font:{
						family: $base-font-family;
						color:#000;
				}
				margin: 0;
				padding: 0;
		}

		h1, h2, h3, h4, h5, h6{ @extend %headigs; }

/*  ==========================================================================
		INPUTS
		========================================================================== */
/*  INPUT TYPE TEXT
		========================================================================== */
		input{
			padding: em(12);
			border:{
				width: em(1);
				color: #d2d2d2;
				style:solid;
			}
		&[type="text"]:focus,
		&[type="textarea"]:focus{ 
				outline:none;
				border:{
					width: em(1);
					color: $cor-primaria;
				}
		}
		}
